<html>
  <head>
    {% if title %}
        <title>{{title}} - microblog</title>
      {% else %}
        <title>wu - microblog</title>
    {% endif %}

  <style>
   body{
     background-color: black;
     color:lawngreen;
   }
   table{
     border-collapse:collapse;
   }
   table td,table th{
    border: 1px solid lawngreen;
   }
   a{
     color:white;
   }
  </style>
  </head>
 <body>
        <div>欢迎来到无二之旅: <a href="/index">Home</a></div>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor%}
        {% endif %}
          {% endwith %}
    <hr>

    {% block content %}{% endblock %}
 </body>
</html>